
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{apero[0].titel}}</mat-card-title>
      <mat-card-subtitle>vom {{apero[0].datum}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{apero[0].image}}" alt="Photo of virtualApero from {{apero?.datum}}">
    <mat-card-content>
        <mat-card-title>Wer durfte, konnte, sollte?</mat-card-title>
        <mat-card-subtitle>{{apero[0].willkommen}}</mat-card-subtitle>
        <mat-card-title>Was ist neu?</mat-card-title>
        <mat-card-subtitle>{{apero[0].inhalt}}</mat-card-subtitle>
        <mat-card-title>Teilnehmer</mat-card-title>
        <mat-card-subtitle>{{apero[0].teilnehmer}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
