mat-card-content,
mat-card-title,
mat-card-actions {
  text-align: left;
}

mat-card-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.basiccontainer {
  margin-bottom: 10px;
}

.child-1,
.child-2 {
  background-color: #3f52b5;
  color: #ffffff;
}

mat-list-item {
  color: #ffffff;
}

mat-card-subtitle {
  color: #ffffff;
}

mat-nav-list a {
  color: #ffffff;
}

.basiccontainer mat-card-subtitle {
  color: #000000;
}
