<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Erstelle einen neuen Benutzer</mat-card-title>
        <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Benutzername" formControlName="name" id="name">
                    <mat-hint align="end">Nicht länger als 60 Zeichen.</mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Der Name ist notwendig</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">Du hast mehr als 60 Zeichen genutzt</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Imagepfad" formControlName="image" id="Image">
                    <mat-hint align="end">Nicht länger als 60 Zeichen.</mat-hint>
                    <mat-error *ngIf="hasError('image', 'required')">Das Bild ist notwendig</mat-error>
                    <mat-error *ngIf="hasError('image', 'maxlength')">Du hast mehr als 60 Zeichen genutzt</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Twitterhandle" formControlName="twitterhandle">
                    <mat-hint align="end">Nicht mehr als 100 Zeichen lang.</mat-hint>
                    <mat-error *ngIf="hasError('twitterhandle', 'required')">Twitterhandle ist notwendig</mat-error>
                    <mat-error *ngIf="hasError('twitterhandle', 'maxlength')">Du hast mehr als 100 Zeichen genutzt
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Speichern</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Abbrechen</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>