<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <p>Willkommen bei unserem ersten Versuch, den VirtualApero als progressive WebApp in Angular zu erstellen</p>
    </div>
    <p>In dieser Applikation arbeiten wir mit:</p>
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Material Components">
            <p>We are going to use different material components to create nice looking angular app.</p>
        </mat-tab>
        <mat-tab label="Consume .NET Core Web API">
            <p>Wir benutzen die von Drupal bereitgestellte API zunächst einmal nur mit GET. Später sollen auch andere REST-Methoden zum Einsatz kommen.</p>
        </mat-tab>
        <mat-tab label="Fully responsive navigation menu">
            <p>Wir nutzen Material Design für Angular.</p>
        </mat-tab>
    </mat-tab-group>
</section>