<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <p>Willkommen bei unserem ersten Versuch, den VirtualApero als progressive WebApp in Angular zu erstellen</p>
    </div>
    <p>In dieser Applikation arbeiten wir mit:</p>
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Material Komponenten">
            <p>Wir nutzen Material Komponenten für Angular, um der App ein ansehnliches Aussehen zu geben.</p>
        </mat-tab>
        <mat-tab label="Web API von Drupal">
            <p>Wir benutzen die von Drupal bereitgestellte API zunächst einmal nur mit GET. Später sollen auch andere REST-Methoden zum Einsatz kommen.</p>
        </mat-tab>
        <mat-tab label="Voll responsives Navigations-Menü">
            <p>Wir nutzen Material Design für Angular.</p>
        </mat-tab>
    </mat-tab-group>
</section>